	<html xmlns:th="http://thymeleaf.org">
	<head>
	<title>Mars Rover Api
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
	 integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
	</head>
	<body>

	<div class="container">
	<h2>Welcome To Mars Rover Api Web App</h2><br/><br/>
	<form method="post" action="" id="frmRoverType">
	<input type="hidden" id="marsApiRoverData" name="marsApiRoverData" value=""/>
	<div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="margin: 2em 0em;">
	  <button type="button" class="btn btn-primary" id="marsApiCuriosity">Curiosity</button>
	  <button type="button" class="btn btn-primary" id="marsApiOpportunity">Opportunity</button>
	  <button type="button" class="btn btn-primary" id="marsApiSpirit">Spirit</button>
	</div>
	</form>
		<div class="container" >
		  <div  th:each="index : ${#numbers.sequence(0,roverData.photos.size(),4)}" class="row" style="margin-bottom: 2em">
		    <div class="col-sm" th:if="${index <roverData.photos.size()}">
		    <img th:src="${roverData.photos[index].imgSrc}" class="img-fluid"/>
		    </div>
		    <div class="col-sm" th:if="${index+1 <roverData.photos.size()}">
		       <img th:src="${roverData.photos[index +1].imgSrc}" class="img-fluid"/>
		    </div>
		    <div class="col-sm"  th:if="${index+2 <roverData.photos.size()}">
		        <img th:src="${roverData.photos[index+2].imgSrc}" class="img-fluid"/>
		    </div>
		     <div class="col-sm"  th:if="${index+3 <roverData.photos.size()}">
		        <img th:src="${roverData.photos[index+3].imgSrc}" class="img-fluid"/>
		    </div>
		    
		  </div>
</div>

</div>
<script type="text/javascript" src="/js/index.js">
	
	</script>

</body>

</html>